<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname  = '{{ page.header.disqus_comments.shortname|default('') }}'; // required: replace example with your forum shortname
  var disqus_title      = '{{ page.header.disqus_comments.title|default(page.title) }}';
  var disqus_developer  = '{{ page.header.disqus_comments.developer|default(false) }}'; // developer mode
  var disqus_identifier = '{{ page.header.disqus_comments.identifier|default(page.id) }}';
  var disqus_url        = '{{ page.header.disqus_comments.url|default(page.url(true)) }}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
