<header id="masthead" class="site-header" >
  <div class="site-branding">
    <h1 class="site-title logo type-text">
      <a href='{{ base_url_absolute }}'><img src="/user/themes/receptar/images/logo.png"></a>
    </h1>
    <h2 class="site-description">{{ 'SITE.DESCRIPTION'|t }}</h2>
    {# {% include 'partials/language-selector.html.twig' %} #}
  </div>
  <section id="secondary" class="secondary">
   <div class="secondary-content">
      <div class="secondary-content-container">
        <div class="site-branding">
          <h1 class="site-title logo type-text">
            <a href='{{ base_url_absolute }}'><img src="/user/themes/receptar/images/logo.png"></a>
          </h1>
          <h2 class="site-description">{{ 'SITE.DESCRIPTION'|t }}</h2>
          {# {% include 'partials/language-selector.html.twig' %} #}
        </div>
         <nav id="site-navigation" class="main-navigation" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <span class="screen-reader-text">Receptar site navigation</span>
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
            <div class="menu">
              {% block navigation %}
                {% include 'partials/navigation.html.twig' %}
              {% endblock %}
            </div>
         </nav>
         <div class="widget-area sidebar" role="complementary" itemscope="" itemtype="http://schema.org/WPSideBar">
           {% block sidebar %}
             {% include 'partials/sidebar.html.twig' %}
           {% endblock %}
         </div>
      </div>
   </div>
   <div class="secondary-controls">
      <button id="menu-toggle" class="menu-toggle" aria-controls="secondary" aria-expanded="false">
      <span class="hamburger-item"></span>
      <span class="hamburger-item"></span>
      <span class="hamburger-item"></span>
      <span class="screen-reader-text">Menu</span>
      </button>

      <div class="social-links">
        <ul id="menu-social-links" class="social-links-items">
          <li id="menu-item-1" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1">
            <a href="https://www.facebook.com/ProximaXio/" target="_blank">
              <span class="screen-reader-text">facebook</span>
            </a>
          </li>

          <li id="menu-item-2" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2">
            <a href="https://twitter.com/ProximaXio" target="_blank">
              <span class="screen-reader-text">twitter</span>
            </a>
          </li>

          <li id="menu-item-3" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2">
            <a href="https://www.instagram.com/proximaxio/" target="_blank">
              <span class="screen-reader-text">instagram</span>
            </a>
          </li>

          <li id="menu-item-4" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2">
            <a href="https://github.com/proximax-storage" target="_blank">
              <span class="screen-reader-text">github</span>
            </a>
          </li>

          <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6">
              <a href="http://www.proximax.io" target="_blank">
                <span class="screen-reader-text">home</span>
              </a>
            </li>

          {% if config.plugins.feed.enabled %}
            <li id="menu-item-1245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1245">
              <a href="{{ feed_url }}.atom"><span class="screen-reader-text">Atom 1.0</span></a>
            </li>
            <li id="menu-item-1246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1246">
              <a href="{{ feed_url }}.rss"><span class="screen-reader-text">RSS</span></a>
            </li>
          {% endif %}


        </ul>
      </div>
   </div>
</section>

<div id="site-header-widgets" class="widget-area site-header-widgets">
{% if config.plugins.simplesearch.enabled %}
    {% include 'partials/simplesearch_searchbox_top.html.twig' %}
{% endif %}
</div>

</header>
