{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <div class="{{ particle.class|e }}">
        {% if particle.title %}<h2 class="g-title">{{ particle.title }}</h2>{% endif %}

        <div class="g-contenttabs">
            <div id="g-contenttabs-{{ id }}" class="g-contenttabs-container">
                <ul class="g-contenttabs-tab-wrapper-container">

                    {% for item in particle.items %}
                        <li class="g-contenttabs-tab-wrapper">
                            <span class="g-contenttabs-tab-wrapper-head">
                                <a class="g-contenttabs-tab" href="#g-contenttabs-item-{{ loop.index }}">
                                    <span class="g-contenttabs-tab-title">{{ item.title|html|raw }}</span>
                                </a>
                            </span>
                        </li>
                    {% endfor %}

                </ul>

                <ul class="g-contenttabs-content-wrapper-container">

                    {% for item in particle.items %}
                        <li class="g-contenttabs-tab-wrapper">
                            <div class="g-contenttabs-tab-wrapper-body">
                                <div id="g-contenttabs-item-{{ loop.index }}" class="g-contenttabs-content">
                                    {{ item.content|html|raw }}

                                    <div class="gantry-row rt-center">
                                        <div class="gantry-width-container">
                                            {% for icon in item.icons %}
                                                <div class="gantry-width-25">
                                                    <div class="gantry-width-spacer">
                                                        <div class="rt-icon-circle" {% if icon.aos %}data-aos="{{ icon.aos }}" data-aos-delay="{{ item.delay }}"{% endif %}>
                                                            <i class="{{ icon.icon }}"></i> <span>{{ icon.subtext }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>    
                                    </div>    

                                    {% if item.link is not empty %}
                                        <a href="{{ item.link|e }}" class="readon"><span>{{ item.linklabel|default('Read More') }}</span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {% do gantry.load('jquery') %}
    <script src="{{ url('gantry-theme://js/juihelper.js') }}"></script>
{% endblock %}

{% block javascript_footer %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#g-contenttabs-{{ id }}').tabs({
                show: {
                    {% if particle.animation == 'up' or particle.animation == 'down' or particle.animation == 'left' or particle.animation == 'right' %}
                    effect: 'slide',
                    direction: '{{ particle.animation }}',
                    {% else %}
                    effect: '{{ particle.animation|default('slide') }}',
                    {% endif %}
                    duration: 350
                }
            });
        });
    </script>
{% endblock %}
