{% extends '@nucleus/partials/particle.html.twig' %}  

{% block particle %}
    {% block layout %}

        <div class="{{ particle.class|e }} g-owlcarousel-strips-slider g-owlcarousel-strips-{{ particle.displayitems }}-items">
            {% if particle.title or particle.description %}
                <div class="g-grid">
                    <div class="g-block">
                        <div class="g-owlcarousel-header">
                            {% if particle.title %}<h2 class="title">{{ particle.title|html|raw }}</h2>{% endif %}
                            {% if particle.description %}<div class="g-owlcarousel-description">{{ particle.description|html|raw }}</div>{% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
      

            <div id="g-owlcarousel-{{ id }}" data-owlcarousel-id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel">
                {% for item in particle.items %}
                    <div class="item">
                        {% if item.image %}<img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />{% endif %}
                        <div class="g-owlcarousel-content">

                            {% if item.desc %}
                                <div class="g-owlcarousel-item-desc">
                                    <div {% if item.aos %}data-aos="{{ item.aos }}"{% endif %}>  <div class="rt-floatleft">      <div class="rt-grey-box">          <i class="{{ item.icon }}"></i>      </div>  </div>  <div class="rt-strips-desc">      <h6>{{ item.desc|html|raw }}</h6>      <small>{{ item.caption }}</small>  </div>  </div>
                                </div>
                            {% endif %}


                            {% if item.link %}
                                <a target="{{ item.buttontarget|default('_self')|e }}" class="g-owlcarousel-item-button readon" href="{{ item.link|e }}">
                                    {{ item.linktext|html|raw|default('Read More') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascript_footer %}
    {% do gantry.load('jquery') %}
    <script src="{{ url('gantry-theme://js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function () {
            jQuery('#g-owlcarousel-{{ id }}').owlCarousel({
            items: {{ particle.displayitems }},
            slideBy: {{ particle.displayitems }},
            margin: 20,
            smartSpeed: 100,
            rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
            {% if particle.nav == 'enabled' %}
            nav: true,
            {% else %}
            nav: false,
            {% endif %}
            {% if particle.dots == 'enabled' %}
            dots: true,
            {% else %}
            dots: false,
            {% endif %}
            {% if particle.loop == 'enabled' %}
            loop: true,
            {% else %}
            loop: false,
            {% endif %}
            {% if particle.autoplay == 'enabled' %}
            autoplay: true,
            autoplayTimeout: {{ particle.autoplaySpeed|default('5000') }},
            {% if particle.pauseOnHover == 'enabled' %}
            autoplayHoverPause: true,
            {% else %}
            autoplayHoverPause: false,
            {% endif %}
            {% else %}
            autoplay: false,
            {% endif %}
            URLhashListener: true,
            responsive: {
                0: {
                    items: 1,
                },
                768: {
                    items: 3,
                },
                1015: {
                    items: {{ particle.displayitems }},
                },
            },
        })
    });
    </script>
{% endblock %}
