{# Load Content From Grav #}
{% set attr_extra = particle.extra|attribute_array %}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set start = limit.start %}
{% set display = article_settings.display %}
{% set categories = filter.categories|split(' ') %}
{% set collection = grav.page.collection(
    {
    items: {'@taxonomy.category': categories},
    order: {by: sort.orderby, dir: sort.ordering},
    url_taxonomy_filters: false
    },
false) %}
{% set total = collection.count() %}
{% set pages = collection.slice(start, limit.total) %}

{# Desktop #}
<div class="g-showcase-slides desktop">
    {% for row in pages | batch(4) %}
        {% if loop.first %}{% set set_id = 'finished' %}
        {% else %}{% set set_id = '' %}
        {% endif %}

        <div class="g-showcase-slides-set {% if particle.demo == " enabled" %}{% if loop.index == preset %}active{% endif %}{% else %}{% if loop.first %}active{% endif %}{% endif %}">

            {% for page in row %}
                {% if display.image.enabled %}
                    {% if display.image.enabled == 'intro' %}
                        {% set file = page.header.image.summary.enabled|defined(false) ? (page.header.image.summary.file ?: true) %}
                    {% elseif display.image.enabled == 'full' %}
                        {% set file = page.header.image.text.enabled|defined(false) ? (page.header.image.text.file ?: true) %}
                    {% endif %}

                    {% set image = file is same as(true) ? page.media.images|first : (file ? page.media.images[file]) %}
                {% endif %}

                <div class="g-showcase-slides-slide item-{{ loop.index }} {{ set_id }}">
                    <img src="{{ image.url }}" alt="{{ page.title|e }}">
                    {% if loop.last %}
                        <div class="g-showcase-slides-slide-content">

                            {% if display.title.enabled and page.title %}
                                <h3>{{ (display.title.limit ? page.title|e|truncate_text(display.title.limit) : page.title|e)|raw }}</h3>
                            {% endif %}

                            {% if display.text.type %}
                                {% set page_text = display.text.type == 'intro' ? page.summary : page.content %}

                                {% if display.text.formatting == 'text' %}
                                    {{ page_text|truncate_text(display.text.limit)|raw }}
                                {% else %}
                                    {{ page_text|truncate_html(display.text.limit)|raw }}
                                {% endif %}
                            {% endif %}

                            {% if display.read_more.enabled %}
                                <div class="g-showcase-slides-slide-button">
                                    <a href="{{ page.url|e }}" target="{{ display.read_more.target|default('_self')|e }}" title="{{ page.title|e }}" class="button {{ display.read_more.css }}">{{ display.read_more.label|default('Read More...') }}</a>
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="owl-nav">
        <div class="owl-prev">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="owl-next">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
    </div>
</div>

{# Mobile #}
<div class="g-showcase-slides mobile g-owlcarousel owl-carousel" data-showcase-slides-id="{{ id }}">
    {% for row in pages | batch(4) %}
        {% if loop.first %}{% set set_id = 'finished' %}
        {% else %}{% set set_id = '' %}
        {% endif %}

        {% for page in row %}
            {% if display.image.enabled %}
                {% if display.image.enabled == 'intro' %}
                    {% set file = page.header.image.summary.enabled|defined(false) ? (page.header.image.summary.file ?: true) %}
                {% elseif display.image.enabled == 'full' %}
                    {% set file = page.header.image.text.enabled|defined(false) ? (page.header.image.text.file ?: true) %}
                {% endif %}

                {% set image = file is same as(true) ? page.media.images|first : (file ? page.media.images[file]) %}
            {% endif %}

            <div class="g-showcase-slides-slide item-{{ loop.index }}">
                <img src="{{ image.url }}" alt="{{ page.title|e }}">

                {% if loop.last %}
                    <div class="g-showcase-slides-slide-content">
                        {% if display.title.enabled and page.title %}
                            <h3>{{ (display.title.limit ? page.title|e|truncate_text(display.title.limit) : page.title|e)|raw }}</h3>
                        {% endif %}

                        {% if display.text.type %}
                            {% set page_text = display.text.type == 'intro' ? page.summary : page.content %}

                            {% if display.text.formatting == 'text' %}
                                {{ page_text|truncate_text(display.text.limit)|raw }}
                            {% else %}
                                {{ page_text|truncate_html(display.text.limit)|raw }}
                            {% endif %}
                        {% endif %}

                        {% if display.read_more.enabled %}
                            <div class="g-showcase-slides-slide-button">
                                <a href="{{ page.url|e }}" target="{{ display.read_more.target|default('_self')|e }}" title="{{ page.title|e }}" class="button {{ display.read_more.css }}">{{ display.read_more.label|default('Read More...') }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
